
.footer{
    text-align: center;
    margin-top: 20px;
}
.Footer_cointainer{
    background-color: rgb(74, 68, 68);
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 25px 50px 75px;
    
}
.Footer_cointainer div{
    text-align: left;
}
ul{
    list-style: none;
}
.icon h3{
    color: white;
    padding-bottom: 20px;
}
.icon a{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
    bottom: 0;
    color: rgb(194, 194, 200);
    text-decoration: none;
    font-size: 20px;
}

.Footer_data{
    display: flex;
    flex-direction: column;
}
.Footer_data li{
    color: rgb(194, 194, 200);
}
.Footer_First h3{
    color: white;
    padding-bottom: 20px;
}
.Fotter_First li{
    display: block;
    margin-bottom: 10px;
    margin: 10px;
    text-decoration: none;
}
.Fotter_First li a:hover{
    color: blue;
    text-decoration: none;
}

.Footer_cointainer img{
    width: 80px;
    height: 80px;
}
.footer-container{
    margin-top: 200px;
}