body{
    margin: 0;
    padding: 0;
}
.about-nav {
    height: 50px;
    background-color: rgb(44, 51, 63);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos{
    flex-shrink: 0;

}
.logo{
    height: 40px;
    width: auto;
}
.about-nav ul {
    display: flex;
    justify-content:space-around;
     
}

.about-nav li {
    list-style-type: none;
}

.about-nav a {
    text-decoration: none;
    color: white; 
    padding: 10px; 
}

.cards{
    display: flex;
    justify-content: space-around;
    padding-top: 6%;  
}
.card{
    width: 28%;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border-radius: 15px;
    height: auto;
    margin: -20px;
    animation-name:example;
    animation-duration:4s;
    
}
@keyframes example{
    0%{ top:20px;}
    25%{ top:0px;}
}


.why{
    padding-top: 50px;
}
.heading{
    text-align: center;
}
.detail{
    text-align: center;
}
.image{
    width: 80px;
    height: 90px;
    padding: 5px;
    background-color: bisque;
    border-bottom-right-radius: 20px;
}
.container{
    margin-left: 20px;

}
.about-a{
    color: white;
}
.about-a:hover{
    background-color: rgb(249, 249, 250);
    color:black;
    border-radius: 30px;
}
.about-inner{
    background-color: #d5f9f7;
    display: flex;
    padding: 2%;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    color:rgb(20, 12, 12);
}
.heads{
    margin-bottom: -10px;
}
@media only screen and (max-width: 1100px){ 
    .about-inner{
        flex-direction: column;
    }
    .about-para{
        width: 90vw;
        height: 100vh;
    }
    .about-para-img{
        width: 90%;
    }
}
@media only screen and (min-width:1100px )and(max-width:386px) {
    .about-inner{
        flex-direction: column;
    }
    .about-para{
        width: 90vw;
        height: 100vh;
    }
    .about-para-img{
        width: 90%;
        height: auto;
    }
}
.about-para-img{
    justify-content: center;
    flex-direction: column;
}



.footer{
    text-align: center;
    margin-top: 20px;
}
.Footer_cointainer{
    background-color: rgb(74, 68, 68);
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 25px 50px 75px;
    
}
.Footer_cointainer div{
    text-align: left;
}
ul{
    list-style: none;
}
.icon h3{
    color: white;
    padding-bottom: 20px;
}
.icon a{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
    bottom: 0;
    color: rgb(194, 194, 200);
    text-decoration: none;
    font-size: 20px;
}

.Footer_data{
    display: flex;
    flex-direction: column;
}
.Footer_data li{
    color: rgb(194, 194, 200);
}
.Footer_First h3{
    color: white;
    padding-bottom: 20px;
}
.Footer_First li:hover{
    background-color: brown;
    color: rgb(14, 11, 11);
}
.Fotter_First li{
    display: block;
    margin-bottom: 10px;
    margin: 10px;
    text-decoration: none;
}
.Fotter_First li a:hover{
    color: blue;
    text-decoration: none;
}

.Footer_cointainer img{
    width: 80px;
    height: 80px;
}
.footer-container{
    margin-top: 200px;
}
#ab :hover{
    background-color: red;
    color: white;
}

.navbar {
    background-color: #abf1e7;
    align-items: center;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    /* margin-left: 30px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logoname{
    position:absolute;
    margin-left: 70px;
    color:#00a89d;
}
.navbar .items a{
    color: #010a09;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    border-radius: 5px;
}
.navbar .items a:hover {
    background-color: #f4f2f2;
}
.items{
    display: flex;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    border: 1px gray;
    border-radius: 12px;
    position: absolute;
    margin: auto;
}
.login button {
    margin-right:60px;
    padding: 10px 20px;
    background-color: #42d347;
    border: none;
    border-radius: 50px;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .items a:hover {
    background-color: #f4f2f2;
}

.logo{
    /* margin-left: 30px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logoname{
    position:absolute;
    margin-left: 70px;
    color:#00a89d;
}